<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fit2081.nutritrack">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nutritrack">
        <activity
            android:name=".ClinicianLogin"
            android:exported="false"
            android:label="@string/title_activity_clinician_login"
            android:theme="@style/Theme.Nutritrack" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register" /> <!-- Login screen -->
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="@string/title_activity_login" /> <!-- Questionnaire screen -->
        <activity
            android:name=".Questionnaire"
            android:exported="false"
            android:label="@string/title_activity_questionnaire" /> <!-- Dashboard screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>